@import url(https://fonts.googleapis.com/css?family=Bitter); 
@import url(https://fonts.googleapis.com/css?family=Muli);



body {
	background-color: #DDFFF7;
	text-align: center;
	background: url('../images/redbow.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Muli', sans-serif; 
	font-size: 30px;

}

h1{
	color: #000000;
	font-family: 'Bitter', serif;
	font-style: bold;
	font-weight: 600;
	font-size: 100px;
}

#slogan {
	font-weight: bold;
	font-style: italic;
	font-size:80px; 
}

a {
	text-decoration: none;
}