@import url(https://fonts.googleapis.com/css?family=Antic+Slab);
@import url(https://fonts.googleapis.com/css?family=Raleway);



body {
	background-color: #DDFFF7;
	text-align: center;
	background: url('../images/redbow.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;

}

h1{
	color: #000000;
	font-family: 'Antic Slab', serif;
	font-weight: 20px;
	font-size: 100px;
}

#slogan {
	font-family: 'Antic Slab', serif; 
	font-style: italic;
	font-size:40px; 

}

a {
	text-decoration: none;
}