@import url(https://fonts.googleapis.com/css?family=Antic+Slab);
@import url(https://fonts.googleapis.com/css?family=Raleway);



body {
	background-color: #DDFFF7;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;

}

h1{
	color: #E3103E;
	font-family: 'Antic Slab', serif;
	font-weight: 200px;
	font-size: 7em;
}

#billboard {
	width: 60%;
	align-items: center;
}


#slogan {
	color:#000000;
	font-family: 'Antic Slab', serif; 
	font-style: bold;
	font-size:2.5em; 

}

p{
	font-size:1em;
	width:50em;
	margin: 2em auto;
	line-height: 1.5em;
	letter-spacing: 6px;
	
}

img{
	width:30%;
	align-items: center;
}

hr{
	border: 2px #3C3C3C;
}

h3.main {
	font-family: 'Antic Slab', serif;
	font-style: bold;
	font-size: 2em;
}

.link {
	display: block;
}

a{
	text-decoration: none;
	color:#FFDDDD;
	font-size: 2em;
	text-align: center;
}

a:hover{
	color:red;
}
}